/* Estilo para el submenú */
.nav-content {
  display: none;
  /* padding-left: 20px; */
}

.nav-content.show {
  display: block;
}

.has-children > a {
  cursor: pointer;
} 

/* Resaltar el menú activo */
.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link.active {
  color: #a93545;
  background: #f6f9ff;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #a93545;
}

/* .chevron-icon {
  width: 1.25rem; 
  text-align: center;
  display: inline-block;
} */


/* Al pasar el mouse o cuando está activo */
.sidebar-nav .nav-link:hover i,
.sidebar-nav .nav-link.active i,
.sidebar-nav .nav-content a:hover i,
.sidebar-nav .nav-content a.active i {
  color: #a93545;
}



